*{
  font-family:Arial;
}

h4{
  text-align:center;
  color:black;
  font-size:20px;
}

form1 {
    text-align: center;
}

#addTaskButton {
    margin-bottom: 5px;
    background: rgb(93, 165, 187);
    border-radius: 15px;
    left:35%;
    justify-content:center;
    position:relative;
    margin:15px 15px;
    font-weight:bold;
    width: 30%;
    height: 40%;
    border:5px solid rgb(93, 165, 187);
    color:white;
    cursor: pointer;
    overflow:hidden;
}

#addTaskButton:hover{
  color:rgb(85, 95, 180);
  border-color:rgb(1, 34, 143);
  border: thin;
  background:transparent;
  transition:0.5s;
}
#addTaskSect{
  background: rgb(184, 238, 245);
  background-size: cover;
  left: 45%;
  min-width: 100%;
}

#addTaskSect input {
  width:100%;
  padding: 15px 30px;
  border-radius:0px;
  border:none;
  color:white;
  background-color: rgb(93, 165, 187);
  box-shadow: 0 0 5px 5px rgba(184, 238, 245);
}

.space{
  max-height:300px;
  background-color:rgb(255, 255, 255);
  min-width: 45%;
  min-height: 50px;
  box-sizing: border-box;
  border-radius: 5px;
  padding:5px;
  margin: 5px;
}


#kanBan {
  padding-top:15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(184, 238, 245);
}

.number {
  margin-left:20px;
  color: rgb(60, 55, 75);
}

#drag {
  cursor:grabbing;
}

.it {
  background-color:rgb(93, 165, 187);
  color: white;
  cursor:grab;
  border-radius:5px;
  margin:5px;
  font-size:15px;
  
}