.Bigbox{
  width:100%;
  height:5cm;
  position: fixed;
  display: grid;
  transform:translateY(-50%);
  padding-block-start: -10%;
  border-radius: 25px;
  background-color:white;
  
}
.Projectname{
  float: left;
	width: 50%;
	height: 100%;
	display: grid;
	align-items: center;
  position: fixed;
  font-size: 30px;
  margin-top: 40px;
  color:rgb(0, 0, 0);
}
.list{
  width: 80px;
  height: 80px;
  border-radius: 25px 25px;
}
.menu{
  width: 100%;
  height: 100vh;
  background-size:cover;
  background-position: center;
}
nav{
  height: 100px;
  background-color: aliceblue;
  position: fixed;
  z-index:10;
  left: 0;
  right: 0;
  top: 0;
}
nav.link{
  align-items: center;
  float: right;
  width: 30%;
}
nav.link li{
  list-style: none;
}
nav.link li:hover{

}
a{
  position: relative;
  text_decoration: none;
}
a:after{
  position: absolute;
  height: 3px;
  width:0;
  left:0;
  bottom:-10px;
  transition: 0.5;
}
a:hover{
  color: white;
}
a:hover:after{
  width:100%;
}

.Banner{
  padding-block-start: 20%;
  width: 100%;
  height: 100%;
  align-items: center;
  display: grid;
  background: rgb(61, 83, 76, 0.8);
}

button{
  width:150px;
  padding: 10px;
  position: relative;
  text-align: center;
  margin: 15px 15px;
  font-weight: bold;
  border: 2px solid rgb(0, 0, 0);
  background: transparent;
  color: whitesmoke;
  cursor: pointer;
  overflow:hidden;
}
button:hover span{
  
}
button:hover{
color:blue;
}


.box{
  width: 100%;
  height: 500px;
  padding: 1rem;
  position: relative;
  background: rgba(68, 62, 62, 0.411);
}

